@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #424B5A;
  
    --secondary-color: #D9D9D9;
    
    --third-color: #1B1F25;

    --alert-color: #f65260;
  
    --background-color: #F5F5F5;
  }
  
  /************************************************/
  /****************** BASE COLORS *****************/
  /************************************************/
  
  $primary-color: var(--primary-color);
  $secondary-color: var(--secondary-color);
  $alert-color: var(--alert-color);
  $background-color: var(--background-color);